<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <p>Hey <%= @user.first_name %></p>
        <p>Clique ici pour réinitialiser ton mot de passe : <%= @url %></p>
    </body>
</html>
