<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <p>Hey <%= @user.first_name %></p>
        <p>Clique ici pour réinitialiser ton mot de passe :</p>
        <p><%= link_to 'Réinitialiser mon mot de passe', @url %></p>
        <p>Si tu n'as pas demandé à réinitialiser ton mot de passe, ignore ce mail.</p>
        <p>A bientôt sur <%= link_to "Shift Heroes", "https://shiftheroes.fr" %></p>
    </body>
</html>
