<%= render "shared/navbar" %>
<%= render "shared/flash" %>

<div class="container-md">
    <div class="row justify-content-center text-center mt-5 mb-3">
        <div class="col-lg-8">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Just do it.</h1>
            <p class="lead">Si t'as un petit coup de mou, regarde cette vidéo.</p>
        </div>
    </div>
</div>

<div class="container-md">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div style="position: relative; padding-bottom: 64.90384615384616%; height: 0;">
                <iframe src="https://www.youtube.com/embed/5-sfG8BV8wU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto my-3">
                <%= link_to videos_path, method: :get, class: "bg-rainbow border btn text-dark text-decoration-none" do %>
                    <i class="fa-solid fa-gun"></i>
                    Je suis prêt à tout péter
                <% end %>
            </div>
        </div>
    </div>
</div>

<script>
    document.body.classList.add('dark-theme');
    let allElements = document.querySelectorAll('*');

    allElements.forEach(function(element) {
        let classes = Array.from(element.classList);
        classes.forEach(function(cls) {
            if (cls.includes('secondary')) {
                let newClass = cls.replace('secondary', 'light');
                element.classList.remove(cls);
                element.classList.add(newClass);
            }
        });
    });

    let logo = document.getElementById('logo-shiftheroes');
    logo.style.filter = 'brightness(6.5)';
    logo.style.opacity = '1';

</script>
