<div class="container-md">
    <hr class="text-muted mt-5" style="max-width: 200px; margin: 0 auto;">
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4">
        <p class="col-md-12 mb-0 text-muted text-center small">
            Shiftheroes.fr – Une bonne raison d'apprendre le code !
        </p>
        <p class="col-md-12 mb-0 text-muted text-center small">
            <i class="fa-solid fa-code"></i> Créé en 2023 par <a href="https://harryjmg.fr" class="text-decoration-none">Harry Jmg</a> pour toi
        </p>
    </footer>
</div>
