<div class="container-md" style="max-width: 1140px;">
  <div class="row justify-content-center my-5">
    <div class="col-auto">
        <%= button_active_to "Nos Plannings", plannings_path, method: :get, class: "btn btn-outline-secondary btn-sm px-4 me-md-2" %>
    </div>
    <div class="col-auto">
        <%= button_active_to "Documentation API", api_path, method: :get, class: "btn btn-outline-secondary btn-sm px-4 me-md-2" %>
    </div>
    <div class="col-auto">
        <%= button_active_to "Instructions vidéos de Harry", instructions_path, method: :get, class: "btn btn-outline-secondary btn-sm px-4" %>
    </div>
  </div>
</div>