<%= render "shared/navbar" %>

<div class="container-md">
    <div class="row justify-content-center text-center mt-5 mb-3">
        <div class="col-lg-8">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Documentation API</h1>
            <p class="lead">Hey, ici se trouve la documentation de l'<strong>API REST</strong> simplifiée de shiftheroes.fr.</p>
        </div>
    </div>
</div>

<div class="container-md" style="max-width: 780px">
    <div class="accordion" id="apiAccordion">
        <!-- Section Authentification -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingAuth">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAuth" aria-expanded="true" aria-controls="collapseAuth">
                    Authentification
                </button>
            </h2>
            <div id="collapseAuth" class="accordion-collapse collapse show" aria-labelledby="headingAuth" data-bs-parent="#apiAccordion">
                <div class="accordion-body">
                    <p>Toutes les requêtes de l'API doivent être authentifiées à l'aide du token d'API généré via l'interface utilisateur. L'authentification doit être effectuée en incluant le header <code>Authorization: Bearer YOUR_API_TOKEN</code> dans chaque requête.</p>
                    <p>
                        <code>YOUR_API_TOKEN</code> est une clé unique qui te permettra d'accéder à l'API <%= link_to '(générer un token)', api_tokens_path %>.
                    </p>
                </div>
            </div>
        </div>
        <!-- Fin Section Authentification -->

        <!-- Section Limitation des requêtes -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingLimit">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLimit" aria-expanded="false" aria-controls="collapseLimit">
                    Limitation des requêtes
                </button>
            </h2>
            <div id="collapseLimit" class="accordion-collapse collapse" aria-labelledby="headingLimit" data-bs-parent="#apiAccordion">
                <div class="accordion-body">
                    <p>Afin de garantir une performance optimale pour tous les utilisateurs de notre API, nous avons instauré une limitation sur le nombre de requêtes qu'un client peut effectuer en l'espace de 10 minutes. Cette limitation est définie comme suit:</p>

                    <strong>NOMBRE DE REQUÊTES MAXIMUM PAR 10 MINUTES = 500</strong>

                    <br><br>

                    <p>Cela veut dire qu'un utilisateur ne peut pas effectuer plus de 500 requêtes à l'API dans une fenêtre glissante de 10 minutes.</p>
                    
                    <p>Nous suivons le nombre de requêtes effectuées par chaque client en temps réel. Chaque requête est enregistrée avec une horodatage (<code>created_at</code>). Pour déterminer si un utilisateur a dépassé la limite, nous comptons le nombre de requêtes effectuées dans les 10 dernières minutes.</p>

                    <p>Si vous dépassez cette limite de requêtes, votre requête sera rejetée et vous recevrez un code d'erreur HTTP approprié, généralement <code>429 Too Many Requests</code>. Vous devrez alors attendre que certaines de vos requêtes précédentes sortent de la fenêtre de 10 minutes avant de pouvoir effectuer de nouvelles requêtes.</p>
        
                    <p><strong>Conseil:</strong> Pensez à prendre en compte ces limites dans la création de vos programmes pour ne pas atteindre les limites trop rapidement. Une bonne pratique est d'ajouter un délai de 1 ou 2 secondes entre chaque requête si elles sont effectuées en boucle.</p>
                </div>
            </div>
        </div>
        <!-- Fin Section Limitation des requêtes -->

        <!-- Section Plannings -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingPlannings">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePlannings" aria-expanded="false" aria-controls="collapsePlannings">
                    Plannings
                </button>
            </h2>
            <div id="collapsePlannings" class="accordion-collapse collapse" aria-labelledby="headingPlannings" data-bs-parent="#apiAccordion">
                <div class="accordion-body">
                    <p>Les plannings sont la ressource centrale de l'API. Tu peux lister tous les plannings disponibles et filtrer par type.</p>

                    <li class="mt-4 mb-3">Lister les plannings <code>(GET /api/v1/plannings)</code></li>
                    
                    <strong>Endpoint:</strong> GET /api/v1/plannings
                    
                    <strong>Requête (sans filtre):</strong>
                    <div class="small bg-light overflow-auto font-monospace p-3 rounded">curl -X GET "https://shiftheroes.fr/api/v1/plannings" -H "Authorization: Bearer YOUR_API_TOKEN"</div>

                    <strong>Requête (avec filtre de type):</strong>
                    <div class="small bg-light overflow-auto font-monospace p-3 rounded">curl -X GET "https://shiftheroes.fr/api/v1/plannings?type=TYPE" -H "Authorization: Bearer YOUR_API_TOKEN"<!-- Remplacer TYPE par "permanent", "daily" ou "weekly" selon le type de planning souhaité. --></div>

                    <strong>Réponse:</strong>
                    <div class="small bg-light overflow-auto font-monospace p-3 rounded">
                    [
                        {
                            "id": "X05fNV",
                            "planning_type": "daily",
                            "state": "available",
                            "published_at": "2023-07-07T08:46:45.215Z"
                        },
                        {
                            "id": "e6bdK2",
                            "planning_type": "permanent",
                            "state": "available",
                            "published_at": "2023-07-07T08:37:54.353Z"
                        },
                        {
                            "id": "j9KDf4",
                            "planning_type": "weekly",
                            "state": "available",
                            "published_at": "2023-07-07T08:47:58.611Z"
                        }
                    ]
                    </div>

                    <p class="mt-3">Astuce : Utilisez le paramètre <code>?type=TYPE</code> pour filtrer les plannings selon leur type (permanent, daily, weekly).</p>
                </div>
            </div>
        </div>
        <!-- Fin Section Plannings -->


        <!-- Section Shifts -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingShifts">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseShifts" aria-expanded="false" aria-controls="collapseShifts">
                    Shifts
                </button>
            </h2>
            <div id="collapseShifts" class="accordion-collapse collapse" aria-labelledby="headingShifts" data-bs-parent="#apiAccordion">
                <div class="accordion-body">
                    <li class="mt-4 mb-3">Lister les créneaux d'un planning <code>(GET /api/v1/plannings/:planning_id/shifts)</code></li>
                    <strong>Endpoint:</strong> GET /api/v1/plannings/:planning_id/shifts
                    <strong>Requête:</strong>
                    <div class="small bg-light overflow-auto font-monospace p-3 rounded">curl -X GET "https://shiftheroes.fr/api/v1/plannings/:planning_id/shifts" -H "Authorization: Bearer YOUR_API_TOKEN"</div>

                    <strong>Réponse:</strong>
                    <div class="small bg-light overflow-auto font-monospace p-3 rounded">
                    [
                        {
                            "id": "lqQFnY",
                            "day": "mardi",
                            "start_hour": "2000-01-01T08:00:00.000Z",
                            "end_hour": "2000-01-01T14:00:00.000Z",
                            "seats": 10,
                            "seats_taken": 1
                        },
                        {
                            "id": "x2OFW1",
                            "day": "lundi",
                            "start_hour": "2000-01-01T08:00:00.000Z",
                            "end_hour": "2000-01-01T14:00:00.000Z",
                            "seats": 12,
                            "seats_taken": 0
                        }
                        // autres shifts...
                    ]
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin Section Shifts -->

        <!-- Section Reservations -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingReservations">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseReservations" aria-expanded="false" aria-controls="collapseReservations">
                    Reservations
                </button>
            </h2>
            <div id="collapseReservations" class="accordion-collapse collapse" aria-labelledby="headingReservations" data-bs-parent="#apiAccordion">
                <div class="accordion-body">

                    <li class="mt-4 mb-3">Lister ses réservations sur un planning <code>(GET /api/v1/plannings/:planning_id/reservations)</code></li>
                    <strong>Endpoint:</strong> GET /api/v1/plannings/:planning_id/reservations
                    <strong>Requête:</strong>
                    <div class="small bg-light overflow-auto font-monospace p-3 rounded">curl -X GET "https://shiftheroes.fr/api/v1/plannings/:planning_id/reservations" -H "Authorization: Bearer YOUR_API_TOKEN"</div>

                    <strong>Réponse:</strong>
                    <div class="small bg-light overflow-auto font-monospace p-3 rounded">
                    [
                        {
                            "id": 103,
                            "user_id": 5,
                            "shift_id": "lqQFnY"
                            // autres attributs de la réservation...
                        },
                        {
                            "id": 104,
                            "user_id": 5,
                            "shift_id": "x2OFW1"
                            // autres attributs de la réservation...
                        }
                        // autres réservations...
                    ]
                    </div>

                    <li class="mt-4 mb-3">Créer une réservation sur un shift <code>(POST /api/v1/plannings/:planning_id/shifts/:shift_id/reservations)</code></li>
                    <strong>Endpoint:</strong> POST /api/v1/plannings/:planning_id/shifts/:shift_id/reservations
                    <strong>Requête:</strong>
                    <div class="small bg-light overflow-auto font-monospace p-3 rounded">curl -X POST "https://shiftheroes.fr/api/v1/plannings/:planning_id/shifts/:shift_id/reservations" -H "Authorization: Bearer YOUR_API_TOKEN"</div>
                    <strong>Réponse:</strong> La réservation est créée avec succès.

                    <li class="mt-4 mb-3">Supprimer une réservation <code>(DELETE /api/v1/plannings/:planning_id/shifts/:shift_id/reservations/:reservation_id)</code></li>
                    <strong>Endpoint:</strong> DELETE /api/v1/plannings/:planning_id/shifts/:shift_id/reservations/:reservation_id
                    <strong>Requête:</strong>
                    <div class="small bg-light overflow-auto font-monospace p-3 rounded">curl -X DELETE "https://shiftheroes.fr/api/v1/plannings/:planning_id/shifts/:shift_id/reservations/:reservation_id" -H "Authorization: Bearer YOUR_API_TOKEN"</div>
                    <strong>Réponse:</strong> La réservation est supprimée avec succès.

                </div>
            </div>
        </div>
        <!-- Fin Section Reservations -->

    </div>
</div>


