<div id="<%= dom_id reservation %>">
  <p>
    <strong>User:</strong>
    <%= reservation.user_id %>
  </p>

  <p>
    <strong>Shift:</strong>
    <%= reservation.shift_id %>
  </p>

  <p>
    <strong>Speed in ms:</strong>
    <%= reservation.speed_in_ms %>
  </p>

</div>
