@import "bootstrap";
@import "skool_swag";
@import "font-awesome";


body {
    background-image: radial-gradient(#efe2ef 0%, #ffffff 100%);
}

// .background {
// 	position: absolute;
// 	overflow: hidden;
// 	width: 100%;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// 	background: linear-gradient(to right, #FFFFFF, #ECE9E6);
// 	display: flex;
// 	flex-grow: 1;
// 	z-index: -1;
// 	div {
// 		position: absolute;
// 		border-radius: 100%;
// 		height: 0;
// 		filter: blur(240vw);
// 		opacity: 0.4;
// 		&:nth-child(1) {
// 			background: linear-gradient(132deg, #1FCFC3 0.00%, #1F91CF 100.00%);
// 			width: 30%;
// 			padding-top: 30%;
// 			left: 20%;
// 			top: 20%;
// 			transform: translateX(-50%) translateY(-50%);
// 		}
// 		&:nth-child(2) {
// 			background: linear-gradient(132deg, #81b4a3 0.00%, #d9bf38 100.00%);
// 			width: 77%;
// 			padding-top: 77%;
// 			left: 76%;
// 			top: 94%;
// 			transform: translateX(-50%) translateY(-50%);
// 		}
// 		&:nth-child(3) {
// 			background: linear-gradient(132deg, #c53193 0.00%, #505420 100.00%);
// 			width: 54%;
// 			padding-top: 54%;
// 			left: 97%;
// 			top: 78%;
// 			transform: translateX(-50%) translateY(-50%);
// 		}
// 		&:nth-child(4) {
// 			background: linear-gradient(132deg, #f601a4 0.00%, #e318f0 100.00%);
// 			width: 3%;
// 			padding-top: 3%;
// 			left: 75%;
// 			top: 46%;
// 			transform: translateX(-50%) translateY(-50%);
// 		}
// 		&:nth-child(5) {
// 			background: linear-gradient(132deg, #cfec8a 0.00%, #ba21b8 100.00%);
// 			width: 99%;
// 			padding-top: 99%;
// 			left: 66%;
// 			top: 38%;
// 			transform: translateX(-50%) translateY(-50%);
// 		}
// 	}
// }


.profile-image {
    height: 20px;
    width: 20px;
}

.shifts > tbody > tr {
    border-width: 0 !important;
    td {
        padding: 0 !important;
        a > .event {
            border-radius: 0 !important;
            box-shadow: none !important;
            border: 1px solid white;
        }
    }
}
    

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.shifts {
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    .col {
        flex: 1;
        border: 1px solid #ccc;
        min-height: 600px; /* Vous pouvez ajuster cela en fonction de vos besoins */
    }
    
    .hour {
        height: 6.25%; /* 100% / 16 */
        border-top: 1px solid #ccc;
        padding: 5px;
        box-sizing: border-box;
        font-size: 0.8em;
        color: #666;
    }
    
    .day {
        position: relative; /* Position relative pour que les positions absolues des .event soient correctes */
        height: 100%;
    }
    
    .event {
        background-color: #c4decb;
        color: #366d56;
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        opacity: 0.9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        height: 8em;
    
        a {
            text-decoration: none !important; /* Supprime le soulignement */
        }
    
        &:hover {
            filter: brightness(1.1);
        }
    
        &.reserved {
            background-color: #cedef7;
            color: #2b6edb;
        }

        &.full {
            background-color: #f5dfdf;
            color: #e85050;
        }
    }
    
    td > a {
        text-decoration: none !important; /* Supprime le soulignement */
    }
    
    .row > * {
        padding: 0;
    }
    
    /* Dans votre fichier CSS */
    .shift {
        position: relative;
        /* Vous pouvez ajuster cette valeur si nécessaire */
        height: 1em; 
    }
}

#plannings {
    text-align: center;

    .card {
        margin: 2em;
        border: 1px solid #E4E4E4;
    }
}

.btn {
    display: block;
    text-align: center;
    margin: 5px 16px;
    border-radius: 5px;
    font-weight: 700;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
}

.base-container {
    margin-top: 4em;

    h1:first-of-type {
        margin-bottom: 2em;
        text-align: center;
    }
}

.bg-rainbow {
    border: 1px solid #b5b5b5;
    color: #4b556e;
    background: linear-gradient(124deg, hsl(0, 100%, 90%), hsl(0, 70%, 90%), hsl(45, 70%, 90%), hsl(60, 70%, 90%), hsl(120, 70%, 90%), hsl(180, 70%, 90%), hsl(240, 70%, 90%), hsl(300, 70%, 90%), hsl(300, 70%, 90%));
    background-size: 1800% 1800%;
    
    -webkit-animation: rainbow 8s ease infinite;
    -z-animation: rainbow 8s ease infinite;
    -o-animation: rainbow 8s ease infinite;
    animation: rainbow 8s ease infinite;
}


.bg-simple{
    background: #d9dfe7;
    color: #3c3d40;
    &:hover {
        background: #c8cdd4;
        color: #3c3d40;
    }
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

