$secondary: #343A40;

@import "bootstrap";
@import "skool_swag";
@import "font-awesome";

@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

.btn.btn-outline-secondary {
    &.inactive {
        color: #a1a1a1;
        border-color: #a1a1a1;
        &:hover {
            color: white;
        }
    }
}

body.dark-theme {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    .card {
        background: transparent;
        border: none;
        color: white;
        box-shadow: none !important;

        iframe {
            border: none;
            box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
        }
    }
    color: #FFF;
}

body.dark-theme a {
    color: #ddd;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle.rainbow-text {
    color: #6e7b9d;
}

.circle.locked {
    background-color: #f0f0f0; /* Grey for all other videos */
}

.circle.default {
    background-color: #b1b1b1;
    color: white;
}

body {
    background: #F8FAFF;
}

.profile-image {
    height: 20px;
    width: 20px;
}

.shifts > tbody > tr {
    border-width: 0 !important;
    td {
        padding: 0 !important;
        a > .event {
            box-shadow: none !important;
        }
    }
}
    

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.shifts {
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    .col {
        flex: 1;
        border: 1px solid #ccc;
        min-height: 600px; /* Vous pouvez ajuster cela en fonction de vos besoins */
    }
    
    .hour {
        height: 6.25%; /* 100% / 16 */
        border-top: 1px solid #ccc;
        padding: 5px;
        box-sizing: border-box;
        font-size: 0.8em;
        color: #666;
    }
    
    .day {
        position: relative; /* Position relative pour que les positions absolues des .event soient correctes */
        height: 100%;
    }
    
    .event {
        background-color: white;
        color: #606060;
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        height: 12em;
    
        a {
            text-decoration: none !important; /* Supprime le soulignement */
        }
    
        &:hover {
            background-color: #f5f5f5;
        }
    
        &.reserved {
            background-color: #e8f4ff;
            border: 1px solid #cfe2ff;
        }
    
        &.full {
            background-color: #fff5f5;
            border: 1px solid #ffc7c7;
        }
    }
    
    td > a {
        text-decoration: none !important; /* Supprime le soulignement */
        display: block;
        margin: 0.2em;
    }
    
    .row > * {
        padding: 0;
    }
    
    /* Dans votre fichier CSS */
    .shift {
        position: relative;
        /* Vous pouvez ajuster cette valeur si nécessaire */
        height: 1em; 
    }
}

#plannings {
    text-align: center;

    .card {
        margin: 2em;
        border: 1px solid #E4E4E4;
    }
}

.btn {
    display: block;
    text-align: center;
    margin: 5px 16px;
    border-radius: 5px;
    font-weight: 700;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
}

.base-container {
    margin-top: 4em;

    h1:first-of-type {
        margin-bottom: 2em;
        text-align: center;
    }
}

.bg-rainbow {
    &.bordered {
        border: 1px solid #b5b5b5;
    }
    color: #4b556e;
    background: linear-gradient(124deg, hsl(0, 100%, 90%), hsl(0, 70%, 90%), hsl(45, 70%, 90%), hsl(60, 70%, 90%), hsl(120, 70%, 90%), hsl(180, 70%, 90%), hsl(240, 70%, 90%), hsl(300, 70%, 90%), hsl(300, 70%, 90%));
    background-size: 1800% 1800%;
    
    -webkit-animation: rainbow 8s ease infinite;
    -z-animation: rainbow 8s ease infinite;
    -o-animation: rainbow 8s ease infinite;
    animation: rainbow 8s ease infinite;
}


.bg-simple{
    background: #d9dfe7;
    color: #3c3d40;
    &:hover {
        background: #c8cdd4;
        color: #3c3d40;
    }
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

