<div id="<%= dom_id planning %>">
  <p>
    <strong>Name:</strong>
    <%= planning.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= planning.planning_type %>
  </p>

  <p>
    <strong>State:</strong>
    <%= planning.state %>
  </p>

</div>
