<p style="color: green"><%= notice %></p>

<h1>Plannings</h1>

<div id="plannings" class="row">
  <% @plannings.each do |planning| %>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <%= render planning %>
          <a href="<%= planning_path(planning) %>" class="btn btn-primary">Voir ce planning</a>
        </div>
      </div>
    </div>
  <% end %>
</div>